@import url(http://fonts.googleapis.com/css?family=Montserrat:800|Roboto);

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
  font-family: 'Roboto';
  font-size: 2rem;
}
